<!-- Shows User Info -->
<div class="Profile">
  <h2>User Info:</h2>
<ul class="blog-posts">
<li id="author"> Username: <a href=""><%= @user.username %></a> </li>
<li id="title"> First Name: <%= @user.fname %> </li>
<li id="content"> Last Name: <%= @user.lname %> </li>
<%= link_to("Delete", user_path(@user), method: :delete)%>
<%= link_to "Edit", edit_user_path(@user)%>
</ul>

<h2>User Posts:</h2>
<ul class="blog-posts">
<% @posts.each do |post| %>
<li id="title"> Title: <%= post.title %> </li>
<li id="content"> Content: <%= post.content %> </li>
<%= link_to("Delete", user_path(@user), method: :delete)%>
<%= link_to "Edit", edit_user_path(@user)%>
<% end %>
</ul>
</div>
