<!-- Displays Posts -->
<div class="comments_container">
<p>
  <b>Name:</b>
  <%= @post.user.username %>
</p>
<p>
  <b>Title:</b>
  <%= @post.title %>
</p>
<p>
  <b>Content:</b>
  <%= @post.content %>
</p>
</p>
  <b>Comment:</b>
  <% @post.comments.each do |comment| %>
  <%= comment.content %>
<% end %>

<div class="comments_form">
<h2>Add a comment:</h2>
<%= form_for [@post, @comment] do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back to Posts', posts_path %> |
</div>

</div>
